<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="xmlDocumentsPath" value="../../xml/"/>
        <add key="xmlFile_CadastralPlanTerritory" value="24_21_1003001_2017-05-29_kpt11.xml"/>
    </appSettings>
</configuration>